---
jobs:
- name: "global"
  interval: '1m'
  connections:
  - "postgres://YOUR_MATERIALIZE_USER:YOUR_MATERIALIZE_PASSWORD@YOUR_MATERIALIZE_HOST.materialize.cloud:6875/materialize"
  queries:
  - name: "total_kafka_sources"
    help: "Total Kafka Sources"
    values:
      - "count"
    query:  |
            select count(*) from mz_sources where type='kafka';
  - name: "total_postgres_sources"
    help: "Total Postgres Sources"
    values:
      - "count"
    query:  |
            select count(*) from mz_sources where type='postgres';
  - name: "total_materialized_views"
    help: "Total Materialized Views"
    values:
      - "count"
    query:  |
            select count(*) from mz_materialized_views;
  - name: "source_errors_count"
    help: "Source Errors Count"
    labels:
      - "source_name"
      - "source_id"
    values:
      - "error_count"
    query:  |
            SELECT
              mz_catalog.mz_sources.name AS source_name,
              source_id AS source_id,
              count(*) AS error_count
            FROM mz_internal.mz_source_status_history h
            JOIN mz_catalog.mz_sources ON h.source_id = mz_catalog.mz_sources.id
            WHERE h.error IS NOT NULL
            GROUP BY 1, 2;
  - name: "replica_memory_usage"
    help: "Replica memory usage"
    labels:
      - "replica_name"
      - "cluster_id"
    values:
      - "memory_percent"
    query:  |
            SELECT
              name::text as replica_name,
              cluster_id::text as cluster_id,
              memory_percent::float as memory_percent
            FROM mz_cluster_replicas r join mz_internal.mz_cluster_replica_utilization u on r.id=u.replica_id;
