---
jobs:
- name: "materialize"
  interval: '5m'
  connections:
  - "postgres://<USER>:<PASSWORD>@<HOST>:<PORT>/materialize?options=--cluster%3Dmz_introspection"
  queries:
  - name: "total_sources"
    help: "All sources"
    values:
      - "count"
    query:  |
            select count(*) from mz_sources;
  - name: "replica_cpu_usage"
    help: "Replica CPU usage"
    labels:
      - "replica_name"
      - "cluster_id"
    values:
      - "cpu_percent_normalized"
    query:  |
            SELECT
              name::text as replica_name,
              cluster_id::text as cluster_id,
              cpu_percent_normalized::float as cpu_percent_normalized
            FROM mz_cluster_replicas r join mz_internal.mz_cluster_replica_utilization u on r.id=u.replica_id;
  - name: "replica_memory_usage"
    help: "Replica memory usage"
    labels:
      - "replica_name"
      - "cluster_id"
    values:
      - "memory_percent"
    query:  |
            SELECT
              name::text as replica_name,
              cluster_id::text as cluster_id,
              memory_percent::float as memory_percent
            FROM mz_cluster_replicas r join mz_internal.mz_cluster_replica_utilization u on r.id=u.replica_id;